html, body {
	height: 100%;
	padding: 0;
	margin: 0;
	background-color: #DCDCDC;
	min-height: 100%;
}

header {
	padding: 50px;
	background-color: #999;

}
h1{
	text-align: center;
	color:#000;
	font-size:35px;
	font-weight:bold;
}

#image{
	background-image: url("../image/banner.png"); 
	background-position:right top;
	background-repeat: no-repeat;
	
}



/* menu */

#menu.floatable {
position: fixed;
top: 0;

}

#menu {
		position: ;
		width: 980px;
        margin: 0 auto;
}


.menu{
        width: 100%;
        margin: 0;
        padding: 10px 0 0 0;
        list-style: none;
        
        background: #04acec;
        -webkit-border-radius: 50px;
		-moz-border-radius: 50px;
		border-radius: 50px;
}

.menu li{
        float: left;
        padding: 0 0 10px 0;
        position: relative;
}

.menu a{
        float: left;
        height: 25px;
        padding: 0 25px;
        color: #000;
        font: bold 14px/25px Arial;
        text-decoration: none;
}

.menu li:hover > a{
        color: #fafafa;
}

*html #menu li a:hover{ /* IE6 */
        color: #fafafa;
}

.menu li:hover > ul{
        display: block;
}

/* Sous-menu */

.menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    background: #04acec;
    
  
}

.menu ul li{
    float: none;
    margin: 0;
    padding: 0;
    display: block;
    -moz-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    -webkit-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
}

.menu ul li:last-child{
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.menu ul a{
    padding: 10px;
    height: auto;
    line-height: 1;
    display: block;
    white-space: nowrap;
    float: none;
    text-transform: none;
}

*html .menu ul a{ /* IE6 */
        height: 10px;
        width: 150px;
}

*:first-child+html #menu ul a{ /* IE7 */
        height: 10px;
        width: 150px;
}

.menu ul li:first-child a{
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.menu ul li:first-child a:after{
    content: '';
    position: absolute;
    left: 30px;
    top: -8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #444;
}

#menu ul li:first-child a:hover:after{
    border-bottom-color: #04acec;
}

.menu ul li:last-child a{
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

/* Rétablissement du flottement */
.menu:after{
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
}

* html .menu             { zoom: 1; } /* IE6 */
*:first-child+html .menu { zoom: 1; } /* IE7 */

#corp {
position: float;
width: 980px;
margin: 0 auto;
background-color: #DCDCDC;

min-height: 100%;

}
/* page inscription */
#corpInscription {
position: float;
width: 980px;
margin: 0 auto;
background-color: #DCDCDC;
padding: 4% 0 6% 20%;
min-height: 100%;
}

label.inscription {
  display:block;
  float:left;
  width:200px;
  text-align:right;
  padding:0 7px 0 0;
}
input.inscriptionIn {
float:left;
margin-left: 20px;
}



input.valider {

margin: 3% 0 0 30%;
}

/* menu inscription sur accueil*/


#menuflotant {
position: fixed;
margin-left: 5px;
margin-top:0 auto;
width: 220px;
height:170px;
background-color: #997A8D;
}

#contenu {
margin: 0 auto;
width: 200px;
height:500px;
 }
 
 
footer {
left: 0;
right: 0;
padding: 50px;
background-color: #999;
position: relative;
bottom: 0;
min-width:100%;

}

#adresse{
	margin-right: 50px;
	margin-bottom:100px;
	text-align:right;
}

/* page inscription */

#contentForm{
position: float;
width: 980px;
margin: 0 auto;
background-color: #DCDCDC;
padding: 4% 0 6% 20%;
}

label.form{
 display:block;
  float:left;
  width:200px;
  text-align:right;
  padding:0 7px 0 0; 

}

textarea.formtext{
float: left;
width: 27%;

}

input.formtext {
float:left;
}

input.validerform{
margin: 8% 0 0 30%;
float:left;
}
